extends ../layout

block content
    link(rel="stylesheet", href="/css/product.css")
    link(rel="stylesheet", href="/css/arrow.css")
    script(src="/js/product.js")

    form.search.products
        input.search#p_search(type="text",value=`${p_search}` name="p_search",placeholder="검색어를 입력 후 Enter")
        input.search#btn_search(type="submit",value="조회")
        input.insert#btn_insert(type="button",value="상품추가")

    table.list.products
        tr
            th 일련번호
                span.m_seq 
                    i.arrow
            th 작성자
                span.m_author
                    i.arrow
            th 작성일자
                span.m_date
                    i.arrow
            th 작성시각
                span.m_time 
                    i.arrow
            th 메모내용
                span.m_memo 
                    i.arrow
            th 이미지파일
                span.m_image 
                    i.arrow

        each item in PRODUCTS
            tr(data-pcode=`${item.m_seq }`)
                td= item.m_seq  
                td= item.m_author 
                td= item.m_date 
                td= item.m_time
                td= item.m_memo
                td= item.m_image

